@use "variables" as *;

body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}
.App {
  &-dark-theme {
    background-color: $app-dark-mode-bg;
    color: $primary-color;
  }
  &-btn-theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
